[[source]]
name = "pypi"
url = "https://pypi.org/simple"     
verify_ssl = true

[dev-packages]
black = "==22.3.0"
isort = "*"
flake8 = "*"
gdown = "*"
ipykernel = "*"

[packages]
uvicorn = "*"
pydantic = "*" 
torch = "*"
transformers = "*"
fastapi = "*"
python-multipart = "*"
streamlit = "*"
streamlit-option-menu = "*"
huggingface-hub = "*"
dotenv = "*"
ipykernel = ">=6.29.5"
langchain-core = ">=0.3.15"
langchain-openai = ">=0.2.5"
langsmith = ">=0.1.139"
langchain-community = ">=0.3.5"
langchain = ">=0.3.7"
docarray = ">=0.40.0"
google-search-results = ">=2.4.2"
matplotlib = "*"


[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
